ResursBank/src/Geta.Resurs.Checkout/Service References/AfterShopFlowService/AfterShopFlowServiceMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:types="http://ecommerce.resurs.com/v4/types/aftershopflow" xmlns:tns="http://ecommerce.resurs.com/v4/msg/aftershopflow" xmlns:common="http://ecommerce.resurs.com/v4/types/common" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ecommerce.resurs.com/v4/msg/aftershopflow" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://test.resurs.com/ecommerce-test/ws/V4/AfterShopFlowService?xsd=schemas/types/common.xsd" namespace="http://ecommerce.resurs.com/v4/types/common" />
  <xsd:import schemaLocation="https://test.resurs.com/ecommerce-test/ws/V4/AfterShopFlowService?xsd=schemas/types/aftershopflow.xsd" namespace="http://ecommerce.resurs.com/v4/types/aftershopflow" />
  <xsd:element name="additionalDebitOfPayment" type="tns:additionalDebitOfPayment" />
  <xsd:element name="additionalDebitOfPaymentResponse" type="tns:additionalDebitOfPaymentResponse" />
  <xsd:element name="finalizePayment" type="tns:finalizePayment" />
  <xsd:element name="finalizePaymentResponse" type="tns:finalizePaymentResponse" />
  <xsd:element name="annulPayment" type="tns:annulPayment" />
  <xsd:element name="annulPaymentResponse" type="tns:annulPaymentResponse" />
  <xsd:element name="creditPayment" type="tns:creditPayment" />
  <xsd:element name="creditPaymentResponse" type="tns:creditPaymentResponse" />
  <xsd:element name="addMetaData" type="tns:addMetaData" />
  <xsd:element name="addMetaDataResponse" type="tns:addMetaDataResponse" />
  <xsd:element name="getPayment" type="tns:getPayment" />
  <xsd:element name="getPaymentResponse" type="tns:getPaymentResponse" />
  <xsd:element name="getPaymentDocumentNames" type="tns:getPaymentDocumentNames" />
  <xsd:element name="getPaymentDocumentNamesResponse" type="tns:getPaymentDocumentNamesResponse" />
  <xsd:element name="getPaymentDocument" type="tns:getPaymentDocument" />
  <xsd:element name="getPaymentDocumentResponse" type="tns:getPaymentDocumentResponse" />
  <xsd:element name="calculateResultSize" type="tns:calculateResultSize" />
  <xsd:element name="calculateResultSizeResponse" type="tns:calculateResultSizeResponse" />
  <xsd:element name="findPayments" type="tns:findPayments" />
  <xsd:element name="findPaymentsResponse" type="tns:findPaymentsResponse" />
  <xsd:element name="insertBonusPoints" type="tns:insertBonusPoints" />
  <xsd:element name="insertBonusPointsResponse" type="tns:insertBonusPointsResponse" />
  <xsd:element name="withdrawBonusPoints" type="tns:withdrawBonusPoints" />
  <xsd:element name="withdrawBonusPointsResponse" type="tns:withdrawBonusPointsResponse" />
  <xsd:element name="getCustomerBonus" type="tns:getCustomerBonus" />
  <xsd:element name="getCustomerBonusResponse" type="tns:getCustomerBonusResponse" />
  <xsd:complexType name="additionalDebitOfPayment">
    <xsd:sequence>
      <xsd:element name="paymentId" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The identity of the payment to which to make an additional debit.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="paymentSpec" nillable="true" type="common:paymentSpec">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The specification of the additional payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="createdBy" nillable="true" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The username of the person performing the operation.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="additionalDebitOfPaymentResponse">
    <xsd:sequence />
  </xsd:complexType>
  <xsd:complexType name="finalizePayment">
    <xsd:sequence>
      <xsd:element name="paymentId" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The identity of the payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="preferredTransactionId" nillable="true" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        An identifier which is reported back in economic reports. Can thus be used as a key to track
                        transactions. It's optional!
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="partPaymentSpec" nillable="true" type="common:paymentSpec">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The specification, the specific part of the payment, which should be finalized. Can be
                        omitted in which case the whole payment is finalized.
                        <p xmlns="http://www.w3.org/1999/xhtml" />
                        If the full payment is finalized, no row information needs to be supplied, only the amount.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="createdBy" nillable="true" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        An identifier of a person or entity performing the operation. Used for auditing.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="orderId" nillable="true" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The order number.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="orderDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The order date.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="invoiceId" nillable="true" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The invoice number.<br />
                        This will be printed on the invoice. For payment methods other than <pre>INVOICE</pre>, setting
                        this will generate an error.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="invoiceDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The invoice date.<br />This will be printed on the invoice. For payment methods other than
                        INVOICE, setting this will generate an error.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" default="EMAIL" name="invoiceDeliveryType" nillable="true" type="common:invoiceDeliveryTypeEnum">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        This option will let you decided how the INVOICE should be delivered. <pre>NONE</pre>,
                        <pre>EMAIL</pre> or by <pre>POSTAL</pre>.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="finalizePaymentResponse">
    <xsd:sequence />
  </xsd:complexType>
  <xsd:complexType name="annulPayment">
    <xsd:sequence>
      <xsd:element name="paymentId" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The identity of the payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="partPaymentSpec" nillable="true" type="common:paymentSpec">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The specification, the specific part of the payment, which should be annulled. Can be
                        omitted in which case the whole payment is annulled.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="createdBy" nillable="true" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        An identifier of a person or entity performing the operation. Used for auditing.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="annulPaymentResponse">
    <xsd:sequence />
  </xsd:complexType>
  <xsd:complexType name="creditPayment">
    <xsd:sequence>
      <xsd:element name="paymentId" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The identity of the payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="preferredTransactionId" nillable="true" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        An identifier which is reported back in economic reports. Can thus be used as a key to track
                        transactions. It's optional!
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="partPaymentSpec" nillable="true" type="common:paymentSpec">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The specification, the specific part of the payment, which should be credited. Can be
                        omitted in which case all finalized parts of the payment is credited.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="createdBy" nillable="true" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        An identifier of a person or entity performing the operation. Used for auditing.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="creditNoteId" nillable="true" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The credit note number.<br />This will be printed on the credit note.
                        For payment methods other than INVOICE, setting this will generate an error.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="creditNoteDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The credit note date.<br />This will be printed on the credit note.
                        For payment methods other than INVOICE, setting this will generate an error.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" default="EMAIL" name="invoiceDeliveryType" nillable="true" type="common:invoiceDeliveryTypeEnum">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        This option will let you decided how the invoice should be delivered. NONE, EMAIL or by POSTAL.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="creditPaymentResponse">
    <xsd:sequence />
  </xsd:complexType>
  <xsd:complexType name="addMetaData">
    <xsd:sequence>
      <xsd:element name="paymentId" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The identity of the payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="key" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The meta data key. If meta data with this key is present on the payment already the data
                        will be replaced with the one sent with this request.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The meta data value. Can be <pre>null</pre>.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addMetaDataResponse">
    <xsd:sequence />
  </xsd:complexType>
  <xsd:complexType name="getPayment">
    <xsd:sequence>
      <xsd:element name="paymentId" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The identity of the payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentResponse">
    <xsd:sequence>
      <xsd:element name="return" type="types:payment">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The payment details.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentDocumentNames">
    <xsd:sequence>
      <xsd:element name="paymentId" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The identity of the payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentDocumentNamesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The names of all documents associated with the payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentDocument">
    <xsd:sequence>
      <xsd:element name="paymentId" type="common:id">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The identity of the payment.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="documentName" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The name of the document.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPaymentDocumentResponse">
    <xsd:sequence>
      <xsd:element name="return" type="types:pdf">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The document. Will cause an error is the payment and/or document doesn't exist.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="calculateResultSize">
    <xsd:sequence>
      <xsd:element name="searchCriteria" type="types:searchCriteria">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The search criteria.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="calculateResultSizeResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The number of payments matching the specified search criteria.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findPayments">
    <xsd:sequence>
      <xsd:element name="searchCriteria" type="types:searchCriteria">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The search criteria.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="pageNumber" nillable="true" type="xsd:unsignedLong">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The desired page number.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="itemsPerPage" nillable="true" type="xsd:unsignedLong">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The number of items to return per page.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sortBy" nillable="true" type="types:sortOrder">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The sort order of the results.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findPaymentsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="types:basicPayment">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        A list of payments matching the specified search criteria. Please observe the data return
                        is more brief than a full payment. To fetch the full payment, use the getPayment function.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertBonusPoints">
    <xsd:sequence>
      <xsd:element name="governmentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The government identity of the customer whose account the bonus points shall be inserted to.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="customerType" type="common:customerType">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The type of customer. <br />In many cases, this is easily determined from the
                        government identity, but for Swedish companies in sole proprietorship, the same identity is
                        used for both the person as a natural customer, and the company as a legal customer.
                        <p />
                        If this value is omitted we will try to parse the government id as a natural first and secondly
                        as a legal entity.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bonusPoints" type="xsd:positiveInteger">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        Number of bonus points to insert.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="expirationDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The last day to use the bonus points. After the expiration date, the bonus points will removed.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertBonusPointsResponse">
    <xsd:sequence />
  </xsd:complexType>
  <xsd:complexType name="withdrawBonusPoints">
    <xsd:sequence>
      <xsd:element name="governmentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The government identity of the customer whose account the bonus points will be withdrawn from.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="customerType" type="common:customerType">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The type of customer. <br />In many cases, this is easily determined from the
                        government identity, but for Swedish companies in sole proprietorship, the same identity is
                        used for both the person as a natural customer, and the company as a legal customer.
                        <p />
                        If this value is omitted we will try to parse the government id as a natural first and secondly
                        as a legal entity.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bonusPoints" type="xsd:positiveInteger">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        Number of bonus points to withdraw.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="withdrawBonusPointsResponse">
    <xsd:sequence />
  </xsd:complexType>
  <xsd:complexType name="getCustomerBonus">
    <xsd:sequence>
      <xsd:element name="governmentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The government identity of the customer whose account the bonus points will be withdrawn from.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="customerType" type="common:customerType">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The type of customer. <br />In many cases, this is easily determined from the
                        government identity, but for Swedish companies in sole proprietorship, the same identity is
                        used for both the person as a natural customer, and the company as a legal customer.
                        <p />
                        If this value is omitted we will try to parse the government id as a natural first and secondly
                        as a legal entity.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCustomerBonusResponse">
    <xsd:sequence>
      <xsd:element name="return" type="types:bonus">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The number of points the customer have.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>