ResursBank/src/Geta.Resurs.Checkout/Service References/ConfigurationService/configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://ecommerce.resurs.com/v4/types/configuration" xmlns:common="http://ecommerce.resurs.com/v4/types/common" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ecommerce.resurs.com/v4/types/configuration" version="4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ecommerce.resurs.com/ws/V4/ConfigurationService?xsd=schemas/types/common.xsd" namespace="http://ecommerce.resurs.com/v4/types/common" />
  <xsd:complexType name="digestConfiguration">
    <xsd:sequence>
      <xsd:element name="digestAlgorithm" type="tns:digestAlgorithm">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        A digest will be hashed using the specified algorithm.
                        <br xmlns="http://www.w3.org/1999/xhtml" />The currently supported algorithms are MD5 and SHA1.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="digestParameters" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The digest will be created by hashing one or more parameters.
                        <br />These are the same as those available for specification in the URI.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="digestSalt" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        To improve the strength of the hash, it a secret hash salt must be provided.
                        <br />The salt will be added <strong>after</strong> all digest parameters.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="digestAlgorithm">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MD5" />
      <xsd:enumeration value="SHA1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="invoiceData">
    <xsd:sequence>
      <xsd:element name="name" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives name.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="street" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives street name.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="zipcode" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representative zipcode.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="city" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives city.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="country" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives country.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phone" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives phone number.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fax" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives fax.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="email" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives e-mail.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="homepage" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives homepage.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vatreg" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives VAT registration number.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="orgnr" type="common:nonEmptyString">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives organisation number.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element default="true" name="companytaxnote" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        Wheter or not the company have a company tax note (Not available in Norway)
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="logotype" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The representatives logotype.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedby" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
                        The name of the user that last modified the data.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>